@page
@model Clients.Pages.Members.IndexModel
@{
}

<br />
<h2>List of Members</h2>
<a class="btn btn-primary btn-sm" href="/Members/Create">New Member</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @*reading the list of members from listMembers variable*@
        @foreach(var item in Model.listMembers)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Members/Edit?id=">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Members/Delete?id=">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>